# caches e diretórios pesados
.git
.gradle
.idea
.vscode
node_modules

# ignora o build inteiro...
build/**

# ...mas REINCLUI os jars da pasta libs (estas linhas DEVEM vir depois de build/**)
!build/libs/**
!build/libs/*.jar
